/* CSS declarations go here */

.left {
  float: left;
  width: 60%;
}
.left img {
  width: 100%;
  height: 100%;
}

.right {
  float: right;
  background-color: grey;
  width: 37%;
  height: 200px;
  margin-right: 2%;
}
.right li {
  list-style-type: none;
}
